.product-detail {
   position: fixed;
   top: 0;
   left: 50%;
   bottom: 0;
   right: 0;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   transition: all ease-out .5s;
   transform: translateX(100%);
}

.product-detail-active {
   transform: translateX(0);
}

/* Celphone */
.products-grid {
   display: flex;
   flex-direction: column;
}

/* Tablet */
@media screen and (min-width: 640px) and (max-width: 1200px) {
   .products-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 15px;
   }
}

/* PC */
@media screen and (min-width: 1201px) {
   .products-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 15px;
   }
}
