<app-nav></app-nav>
<router-outlet></router-outlet>


<!-- <app-products></app-products> -->

<!-- ANGULAR PETICIONES HTTP -->
<!-- <hr />
<div class="app-footer">
   <button (click)="createUser()">Create user</button>
   <p><a href="./assets/files/test-file.txt" download>Local file download</a></p>
   <button (click)="downloadPDF()">Web file download</button>
   <input type="file" (change)="onUpload($event)" placeholder="file upload">
   <img *ngIf="respImg" [src]="respImg">
</div> -->


<!-- ANGULAR INTRODUCTORIO -->
<!-- <input type="text" [(ngModel)]="imageSearcher" />
<input type="text" [(ngModel)]="imageSearcher2" /> -->
<!-- <button (click)="toggleImage()">Togle img</button> -->
<!-- <app-img (loaded)="onLoaded($event)" [imgSrc]="imageSearcher" [imgSrc2]="imageSearcher2" *ngIf="isImg"></app-img> -->
<!-- https://www.w3schools.com/howto/img_avatar.png -->
