.box {
   height: 200px;
   width: 200px;
   overflow-y: auto;
   background-color: darksalmon;
}

.app-footer {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 30px 0px;
   padding: 10px;
   background-color: coral;
}

.box-ngStyle {
   display: block;
}

.message-error{
   background: red;
   color: aliceblue;
   opacity: 0;
   transition: all linear .3s;
}

.invalid {
   opacity: 1;
}

.invalidNgClass {
   opacity: 0;
}

.validNgClass {
   color: orangered;
}

.line-error {
   height: 0;
   border-bottom: 4px solid;
}

.products-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
   grid-gap: 15px;
   align-items: center;
}

.product-img {
   width: 100%;
   border-radius: 10px;
}

@media screen and (max-width: 40em) {
   .products-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}
