<div class="show-mobile">
   <div class="div-show-mobile">
      <button (click)="toggleMenu()">
         <img class="logo-img" src="./assets/svg/icon-menu.svg" alt="menu">
      </button>
      <a class="a-mobile" href="">
         <img class="logo-img" src="./assets/svg/market-store-logo.svg" alt="logo">
      </a>
      <a class="a-mobile" href="">
         <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
      </a>
   </div>
   <div class="side-menu" [class.side-menu-active]="activeMenu">
      <button (click)="toggleMenu()">Close</button>
      <ul>
         <li><a href="">All</a></li>
         <li><a href="">Clothes</a></li>
         <li><a href="">Electronics</a></li>
      </ul>
   </div>
</div>

<div class="hide-mobile">
   <div class="div-hide-mobile">
      <nav>
         <a class="logo-anchor" href="">
            <img class="logo-img" src="./assets/svg/market-store-logo.svg" alt="logo">
         </a>
         <ul>
            <li><a href="">All</a></li>
            <li><a href="">Clothes</a></li>
            <li><a href="">Electronics</a></li>
         </ul>
      </nav>
      <div class="info">
         <div class="cart">
            <a href="">
               <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
            </a>
            <span class="counter">{{ counter }}</span>
         </div>
         <span>{{ totalPrice | currency: "AR" }}</span>
         <div class="account"><em>facundo@facundo.com</em></div>
      </div>
   </div>
</div>
